.logo{
width: 50px;
height: auto;
margin-right: 15px;

}
.boton-menu{
background-color:orange;
color: black;
 ;
}
.boton-menu:hover{
background-color: darkorange;
transition:0.5s

}
.precio{
color:brown;
font-size: 1rem;

}